# **Essential Python for Data Analyst**



- Super Class
- try except block
- Loop Over List/ Dictionary
- CSV, JSON
- Context Manager
- API get requests
- Web Scraping
- Intro to numpy, pandas, sklearn

# Super Class

In [ ]:
# Super Class
class Person:
    def __init__(self, name):
        self.name = name

    def sayhi(self):
        print(f"Hi my name is {self.name}!")

class Employee(Person):
    def __init__(self, name, company):
        super().__init__(name)
        self.company = company
    
    def potato(self):
        print("Potato is very good")

    def sayhi(self):
        print(f"Hi my name is {self.name} and I work as {self.company}.")

In [ ]:
mon = Person("Mon")
john = Employee("John", "Google")
mon.sayhi()
john.sayhi()

Hi my name is Mon!
Hi my name is John and I work as Google.

In [ ]:
john.sayhi()
john.potato()

Hi my name is John and I work as Google.
Potato is very good

In [ ]:
## Error
# mon.potato()

## try except block

In [ ]:
## try-except block
try:
    print("Hello!")
except ZeroDivisionError:
    print("Cannot divie a number with zero.")
except NameError:
    print("Variable is not found.")
except ValueError:
    print("Please chect your data type again.")

# else:
#     print("Done!")
# finally:
#     print("This is the last line.")

Hello!

In [ ]:
assert 1+1 == 5, "1+1 must be equal 2"

In [ ]:
def check_this(a, b):
    assert a+b > 10, "a+b should be more than ten"
    return a+b

In [ ]:
check_this(10, 20)

30

In [ ]:
# function
def greeting(name):
    print("Hello! " + name)

In [ ]:
# lambda function
greeting = lambda name: print("hello! " + name)

In [ ]:
greeting("mon")

hello! mon

In [ ]:
hello = lambda: print("hello!")

In [ ]:
hello()

hello!

In [ ]:
def odd_or_even(num):
    if num % 2 == 0:
        print("Even")
    else:
        print("Odd")

In [ ]:
# lambda simple function
odd_or_even = lambda num: "even" if num % 2 == 0 else "odd"

In [ ]:
odd_or_even(4)

'even'

## Loop Over List/ Dictionary

In [ ]:
## Dictionary
dict_mon = {
    "name": "mon",
    "age": 21
}

In [ ]:
dict_mon["name"]

'mon'

In [ ]:
dict_mon["age"] += 1
dict_mon["age"]

24

In [ ]:
# Dictionary
# list of colored balls
balls = ['red', 'red', 'green', 'blue', 'blue']

In [ ]:
def summary(list_items):
    result = {} #empty dict
    for item in list_items:
        if item in result:
           result[item] += 1
        else:
            result[item] = 1
    return(result)

In [ ]:
summary(balls)

{'red': 2, 'green': 1, 'blue': 2}

In [ ]:
# list comprehension
numbers = [1, 2, 3, 4, 5] # => [2, 4]

In [ ]:
result = [num*2 for num in numbers]
print(result)

[2, 4, 6, 8, 10]

In [ ]:
oddNums = [num for num in numbers if num % 2 == 1]
evenNums = [num for num in numbers if num % 2 == 0]
print(oddNums, evenNums)

[1, 3, 5] [2, 4]

## CSV

In [ ]:
## Comma Separated Value (CSV file)
!pwd

In [ ]:
!ls sample_data/

anscombe.json		      mnist_test.csv
california_housing_test.csv   mnist_train_small.csv
california_housing_train.csv  README.md

In [ ]:
!mkdir newFolder

In [ ]:
!rmdir newFolder

In [ ]:
!echo hello

hello

In [ ]:
! cat hotel.csv

In [ ]:
# import csv

# file = open("hotel.csv")

# data = csv.reader(file)

# for row in data:
#     print(row)

# file.close()

In [ ]:
import csv

try:
    file = open("hotel.csv")
    data = csv.reader(file)
    file.close()
except FileNotFoundError:
    print("File not found.")
else:
    print("Load data successfully")

Load data successfully

## Context Manager

In [ ]:
## context manager
# "r" read mode
import csv

try:
    with open("hotel.csv", "r") as file:
        data = csv.reader(file)
        for row in data:
            print(row)
except:
    print("Found some errors, pless")

['id', 'hotel ', 'location', 'price']
['1', 'Accor', 'Thailand', '50']
['2', 'Ibis', 'Italy', '60']
['3', 'London', 'UK', '35']
['4', 'Seoul', 'Korea', '30']
['5', 'Le Concord', 'USA', '25']

In [ ]:
# context manager
import csv
csv_data = [] # empty list

with open("hotel.csv") as file:
    data = csv.reader(file)
    for row in data:
        csv_data.append(row)

print(csv_data)

[['id', 'hotel ', 'location', 'price'], ['1', 'Accor', 'Thailand', '50'], ['2', 'Ibis', 'Italy', '60'], ['3', 'London', 'UK', '35'], ['4', 'Seoul', 'Korea', '30'], ['5', 'Le Concord', 'USA', '25']]

In [ ]:
import pandas as pd

df = pd.read_csv("hotel.csv")

df["price_double"] = df["price"]*2

df.to_csv("hotel_modified.csv")

   id      hotel   location  price  price_double
0   1       Accor  Thailand     50           100
1   2        Ibis     Italy     60           120
2   3      London        UK     35            70
3   4       Seoul     Korea     30            60
4   5  Le Concord       USA     25            50

In [ ]:
# write .csv file
# "w" write mode
import csv

headers = ["id", "name", "age"]
data = [
    [1, "mon", 21],
    [2, "jisoo", 26],
    [3, "john", 32]
]

with open("newfile.csv", "w") as file:
    writer = csv.writer(file)
    writer.writerow(headers)
    writer.writerows(data)

In [ ]:
!cat newfile.csv

id,name,age
1,mon,21
2,jisoo,26
3,john,32

In [ ]:
result = []
with open("newfile.csv", "r") as file:
    data = csv.reader(file)
    for row in data:
        result.append(row)
print(result)

[['id', 'name', 'age'], ['1', 'mon', '21'], ['2', 'jisoo', '26'], ['3', 'john', '32']]

In [ ]:
# regular expression
# from re import search
# search("duck", text)[0]
import re

text = "a duck walks into a bar"

result = re.search("duck", text) # True, False

if result:
    print("Duck found")
else:
    print("Duck not found")
# re.search("duck", text)[0] #duck number 0

Duck found

## JSON

In [ ]:
## Javascript Object Notation (json file)
!ls *.json

mon.json

In [ ]:
import json

with open("mon.json", "r") as file:
    data = json.load(file)

In [ ]:
# Dictionary
data

{'name': 'mon',
 'age': 21,
 'movie_lover': True,
 'movie': ['batman', 'superman']}

In [ ]:
# Create new .json file
school = {
    "name": "bootcamp",
    "batch": 7,
    "duration": "4 month"
}

with open("newjsonfile.json", "w") as file:
    json.dump(school, file)

In [ ]:
!cat newjsonfile.json

{"name": "bootcamp", "batch": 7, "duration": "4 month"}

In [ ]:
with open("newjsonfile.json", "r") as file:
    data2 = json.load(file)

data2

{'name': 'bootcamp', 'batch': 7, 'duration': '4 month'}

## API get requests

In [ ]:
## API get requests
import requests

url = "https://swapi.dev/api/people/1"

result = requests.get(url)

data_json = result.json()

data_json["name"]

'Luke Skywalker'

In [ ]:
list(range(0, 11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
from requests import get
from time import sleep

nums = list(range(1, 6))
result = []

for i in nums:
    url = f"https://swapi.dev/api/people/{i}" # 1-10
    response = get(url)
    data = response.json()
    row = [
        data["name"],
        data["height"],
        data["mass"],
        data["gender"]
    ]
    result.append(row)
    print(result)
    sleep(1) # second

[['Luke Skywalker', '172', '77', 'male']]
[['Luke Skywalker', '172', '77', 'male'], ['C-3PO', '167', '75', 'n/a']]
[['Luke Skywalker', '172', '77', 'male'], ['C-3PO', '167', '75', 'n/a'], ['R2-D2', '96', '32', 'n/a']]
[['Luke Skywalker', '172', '77', 'male'], ['C-3PO', '167', '75', 'n/a'], ['R2-D2', '96', '32', 'n/a'], ['Darth Vader', '202', '136', 'male']]
[['Luke Skywalker', '172', '77', 'male'], ['C-3PO', '167', '75', 'n/a'], ['R2-D2', '96', '32', 'n/a'], ['Darth Vader', '202', '136', 'male'], ['Leia Organa', '150', '49', 'female']]

In [ ]:
import pandas as pd

df = pd.DataFrame(result, columns = ["name", "height", "mass", "gender"])

df.to_csv("starwarAPI.csv")

## Web Scraping

In [ ]:
## Wed Scraping
# gazpacho
!pip install gazpacho

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting gazpacho
  Downloading gazpacho-1.1.tar.gz (7.9 kB)
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Building wheels for collected packages: gazpacho
  Building wheel for gazpacho (pyproject.toml) ... done
  Created wheel for gazpacho: filename=gazpacho-1.1-py3-none-any.whl size=7480 sha256=82ff0b2afc1e2af20bcdd394575cd36eb9978b82a79076be6982af7707c98a6f
  Stored in directory: /root/.cache/pip/wheels/7b/82/22/0f73f5a5fa5abb29aac7a06941ff561e0bb415e558bb64d467
Successfully built gazpacho
Installing collected packages: gazpacho
Successfully installed gazpacho-1.1

In [ ]:
!pip list | grep "gaz"

gazpacho                      1.1

In [ ]:
from gazpacho import Soup
from requests import get

url = "https://www.imdb.com/search/title/?groups=top_100&sort=user_rating%2Cdesc"

headers = {"Acecpt-Language": "en-US"}

response = get(url, headers = headers)
# print(response.status_code)

imdb = Soup(response.text)

In [ ]:
title_list = imdb.find("h3", {"class": "lister-item-header"})

In [ ]:
for title in title_list:
    print(title.strip())

In [ ]:
titles = [title.strip() for title in title_list]
print(titles)

['1. The Shawshank Redemption (1994)', '2. The Godfather (1972)', '3. The Dark Knight (2008)', "4. Schindler's List (1993)", '5. 12 Angry Men (1957)', '6. The Lord of the Rings: The Return of the King (2003)', '7. The Godfather Part II (1974)', '8. Pulp Fiction (1994)', '9. Fight Club (1999)', '10. The Lord of the Rings: The Fellowship of the Ring (2001)', '11. Inception (2010)', '12. Forrest Gump (1994)', '13. The Good, the Bad and the Ugly (1966)', '14. The Lord of the Rings: The Two Towers (2002)', '15. The Matrix (1999)', '16. Goodfellas (1990)', "17. One Flew Over the Cuckoo's Nest (1975)", '18. Star Wars: Episode V - The Empire Strikes Back (1980)', '19. Interstellar (2014)', '20. Se7en (1995)', '21. The Silence of the Lambs (1991)', '22. The Green Mile (1999)', '23. Star Wars (1977)', '24. Terminator 2: Judgment Day (1991)', '25. Saving Private Ryan (1998)', '26. Spirited Away (2001)', '27. City of God (2002)', '28. Life Is Beautiful (1997)', '29. Seven Samurai (1954)', "30. It's a Wonderful Life (1946)", '31. Harakiri (1962)', '32. Parasite (2019)', '33. The Departed (2006)', '34. Gladiator (2000)', '35. Whiplash (2014)', '36. The Prestige (2006)', '37. Alien (1979)', '38. Léon: The Professional (1994)', '39. Back to the Future (1985)', '40. Psycho (1960)', '41. Apocalypse Now (1979)', '42. The Lion King (1994)', '43. The Usual Suspects (1995)', '44. American History X (1998)', '45. The Pianist (2002)', '46. Once Upon a Time in the West (1968)', '47. The Intouchables (2011)', '48. Casablanca (1942)', '49. Grave of the Fireflies (1988)', '50. Rear Window (1954)']

In [ ]:
runtimes = imdb.find("span", {"class": "runtime"})
runtimes = [runtime.strip() for runtime in runtimes]
print(runtimes)

['142 min', '175 min', '152 min', '195 min', '96 min', '201 min', '202 min', '154 min', '139 min', '178 min', '148 min', '142 min', '178 min', '179 min', '136 min', '145 min', '133 min', '124 min', '169 min', '127 min', '118 min', '189 min', '121 min', '137 min', '169 min', '125 min', '130 min', '116 min', '207 min', '130 min', '133 min', '132 min', '151 min', '155 min', '106 min', '130 min', '117 min', '110 min', '116 min', '109 min', '147 min', '88 min', '106 min', '119 min', '150 min', '165 min', '112 min', '102 min', '89 min', '112 min']

In [ ]:
import pandas as pd

data = [titles, runtimes]

df = pd.DataFrame({
    "title": titles,
    "runtime": runtimes
})

df.head()

                                title  runtime
0  1. The Shawshank Redemption (1994)  142 min
1             2. The Godfather (1972)  175 min
2           3. The Dark Knight (2008)  152 min
3          4. Schindler's List (1993)  195 min
4              5. 12 Angry Men (1957)   96 min

In [ ]:
df.to_csv("imdb_data.csv")

## Basic Data Tools

- numpy
- pandas
- sklearn

In [ ]:
# numpy => numerical python
import numpy as np

num = [1, 2, 3, 4, 5]
num_arr = np.array(num)

In [ ]:
print(num_arr *2, num_arr + 2, num_arr - 2, num_arr / 2)

[ 2  4  6  8 10] [3 4 5 6 7] [-1  0  1  2  3] [0.5 1.  1.5 2.  2.5]

In [ ]:
# Statistical Bsic Calculation
print(np.sum(num_arr))
print(np.mean(num_arr))
print(np.std(num_arr))
print(np.min(num_arr))
print(np.max(num_arr))
print(len(num_arr))

15
3.0
1.4142135623730951
1
5
5

In [ ]:
# matrix => 2D array
m1 = np.array([
    [1, 2],
    [3, 4]
])

In [ ]:
m1

array([[1, 2],
       [3, 4]])

In [ ]:
m1 * 5

array([[ 5, 10],
       [15, 20]])

In [ ]:
m2 = np.array([
    [5, 5],
    [4, 2]
])

In [ ]:
print(m1, "\n"*2, m2)

[[1 2]
 [3 4]]

 [[5 5]
 [4 2]]

In [ ]:
m1 * m2

In [ ]:
# m1.dot(m2)
np.dot(m1, m2)

array([[13,  9],
       [31, 23]])

In [ ]:
# intro to pandas

import pandas as pd
import numpy as np

In [ ]:
!cat hotel.csv

id,hotel ,location,price
1,Accor,Thailand,50
2,Ibis,Italy,60
3,London,UK,35
4,Seoul,Korea,30
5,Le Concord,USA,25

In [ ]:
hotel = pd.read_csv("hotel.csv")

In [ ]:
hotel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        5 non-null      int64
 1   hotel     5 non-null      object
 2   location  5 non-null      object
 3   price     5 non-null      int64
dtypes: int64(2), object(2)
memory usage: 288.0+ bytes

In [ ]:
hotel.describe(include = "all")

              id hotel   location     price
count   5.000000      5         5   5.00000
unique       NaN      5         5       NaN
top          NaN  Accor  Thailand       NaN
freq         NaN      1         1       NaN
mean    3.000000    NaN       NaN  40.00000
std     1.581139    NaN       NaN  14.57738
min     1.000000    NaN       NaN  25.00000
25%     2.000000    NaN       NaN  30.00000
50%     3.000000    NaN       NaN  35.00000
75%     4.000000    NaN       NaN  50.00000
max     5.000000    NaN       NaN  60.00000

In [ ]:
# hotel
# hotel.price
hotel["price"]

0    50
1    60
2    35
3    30
4    25
Name: price, dtype: int64

In [ ]:
hotel["vat"] = hotel["price"] * 0.07

hotel

   id      hotel   location  price   vat
0   1       Accor  Thailand     50  3.50
1   2        Ibis     Italy     60  4.20
2   3      London        UK     35  2.45
3   4       Seoul     Korea     30  2.10
4   5  Le Concord       USA     25  1.75

In [ ]:
# query (filter rows)
value_hotel = hotel.query( "price > 40" )

In [ ]:
value_hotel.to_csv("value_hotel.csv")

In [ ]:
# drop column
new_hotel = hotel.drop(["id", "vat"], axis = 1)

In [ ]:
new_hotel

       hotel   location  price
0       Accor  Thailand     50
1        Ibis     Italy     60
2      London        UK     35
3       Seoul     Korea     30
4  Le Concord       USA     25

In [ ]:
hotel.drop(["id", "vat"], axis = 1, inplace = True)
hotel

       hotel   location  price
0       Accor  Thailand     50
1        Ibis     Italy     60
2      London        UK     35
3       Seoul     Korea     30
4  Le Concord       USA     25

In [ ]:
hotel.query( "price > 30 or location == 'UK' " )

   hotel   location  price
0   Accor  Thailand     50
1    Ibis     Italy     60
2  London        UK     35

In [ ]:
# sklearn=> machine learning most popular python

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
import pandas as pd

In [ ]:
mtcars = pd.read_csv("https://gist.githubusercontent.com/seankross/a412dfbd88b3db70b74b/raw/5f23f993cd87c283ce766e7ac6b329ee7cc2e1d1/mtcars.csv")

In [ ]:
mtcars.head()

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [ ]:
# prepare 50% - 80%
# mpg = f(hp, wt, am)
X = mtcars[ ["hp", "wt", "am"] ]
y = mtcars[ "mpg" ]

In [ ]:
# split data 80% train, 20 test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

In [ ]:
# train model
# model = LinearRegression().fit(X_train, y_train)
model = DecisionTreeRegressor()
model.fit(X_train, y_train)

# test model/ scoring
pred = model.predict(X_test)
pred

array([15.2, 10.4, 15.2, 26. , 24.4, 17.8, 14.3])

In [ ]:
# MAE Mean Absolute Error
mae = np.mean(np.absolute((y_test - pred)))

# MSE Mean Square Error
mse = np.mean((y_test - pred) ** 2)

# RMSE Root Mean Square Error
rmse = np.sqrt(np.mean((y_test - pred) ** 2))

print(mae, mse, rmse)

2.657142857142856 11.74571428571428 3.4272021075090215

In [ ]:
# evaluate model
# model.score()

In [ ]:
# HW01 - Find Public API