# Intermediate Pandas I

In [2]:
import pandas as pd

In [3]:
penguins = pd.read_csv("penguins.csv")

## Preview Penguins Data Frame

In [4]:
# preview first 5 rows
penguins.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE

In [5]:
penguins.tail()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,FEMALE
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,MALE
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,FEMALE
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,MALE

In [6]:
penguins.shape

(344, 7)

In [7]:
penguins.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    object
 1   island             344 non-null    object
 2   bill_length_mm     342 non-null    float64
 3   bill_depth_mm      342 non-null    float64
 4   flipper_length_mm  342 non-null    float64
 5   body_mass_g        342 non-null    float64
 6   sex                333 non-null    object
dtypes: float64(4), object(3)
memory usage: 18.9+ KB

## Select columns

In [9]:
# Select columns
penguins['species']

In [10]:
penguins.species

In [13]:
penguins[['species', 'island', 'sex']]

,species,island,sex
0,Adelie,Torgersen,MALE
1,Adelie,Torgersen,FEMALE
2,Adelie,Torgersen,FEMALE
3,Adelie,Torgersen,NaN
4,Adelie,Torgersen,FEMALE
...,...,...,...
339,Gentoo,Biscoe,NaN
340,Gentoo,Biscoe,FEMALE
341,Gentoo,Biscoe,MALE
342,Gentoo,Biscoe,FEMALE
343,Gentoo,Biscoe,MALE

## ILOC

In [12]:
# Integer-location Based Indexing (iloc)
penguins.iloc[0]

In [99]:
penguins.iloc[[0, 1, 2]]

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE

In [100]:
penguins.iloc[ 0:3 ]

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE

In [101]:
penguins.iloc[ 0:3, [0, 1, 2] ]

,species,island,bill_length_mm
0,Adelie,Torgersen,39.1
1,Adelie,Torgersen,39.5
2,Adelie,Torgersen,40.3

In [14]:
mini_penguins = penguins.iloc[ 0:5, 0:3 ]
mini_penguins

,species,island,bill_length_mm
0,Adelie,Torgersen,39.1
1,Adelie,Torgersen,39.5
2,Adelie,Torgersen,40.3
3,Adelie,Torgersen,NaN
4,Adelie,Torgersen,36.7

## Filter Data Frame with One Condition

In [17]:
penguins['island'] == 'Torgersen'

In [18]:
# filter rows by a condition
penguins[ penguins['island'] == 'Torgersen' ]

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE
5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,MALE
6,Adelie,Torgersen,38.9,17.8,181.0,3625.0,FEMALE
7,Adelie,Torgersen,39.2,19.6,195.0,4675.0,MALE
8,Adelie,Torgersen,34.1,18.1,193.0,3475.0,NaN
9,Adelie,Torgersen,42.0,20.2,190.0,4250.0,NaN
10,Adelie,Torgersen,37.8,17.1,186.0,3300.0,NaN
11,Adelie,Torgersen,37.8,17.3,180.0,3700.0,NaN
12,Adelie,Torgersen,41.1,17.6,182.0,3200.0,FEMALE
13,Adelie,Torgersen,38.6,21.2,191.0,3800.0,MALE
14,Adelie,Torgersen,34.6,21.1,198.0,4400.0,MALE
15,Adelie,Torgersen,36.6,17.8,185.0,3700.0,FEMALE
16,Adelie,Torgersen,38.7,19.0,195.0,3450.0,FEMALE
17,Adelie,Torgersen,42.5,20.7,197.0,4500.0,MALE
18,Adelie,Torgersen,34.4,18.4,184.0,3325.0,FEMALE
19,Adelie,Torgersen,46.0,21.5,194.0,4200.0,MALE
68,Adelie,Torgersen,35.9,16.6,190.0,3050.0,FEMALE
69,Adelie,Torgersen,41.8,19.4,198.0,4450.0,MALE
70,Adelie,Torgersen,33.5,19.0,190.0,3600.0,FEMALE
71,Adelie,Torgersen,39.7,18.4,190.0,3900.0,MALE
72,Adelie,Torgersen,39.6,17.2,196.0,3550.0,FEMALE
73,Adelie,Torgersen,45.8,18.9,197.0,4150.0,MALE
74,Adelie,Torgersen,35.5,17.5,190.0,3700.0,FEMALE
75,Adelie,Torgersen,42.8,18.5,195.0,4250.0,MALE
76,Adelie,Torgersen,40.9,16.8,191.0,3700.0,FEMALE
77,Adelie,Torgersen,37.2,19.4,184.0,3900.0,MALE
78,Adelie,Torgersen,36.2,16.1,187.0,3550.0,FEMALE
79,Adelie,Torgersen,42.1,19.1,195.0,4000.0,MALE
80,Adelie,Torgersen,34.6,17.2,189.0,3200.0,FEMALE
81,Adelie,Torgersen,42.9,17.6,196.0,4700.0,MALE
82,Adelie,Torgersen,36.7,18.8,187.0,3800.0,FEMALE
83,Adelie,Torgersen,35.1,19.4,193.0,4200.0,MALE
116,Adelie,Torgersen,38.6,17.0,188.0,2900.0,FEMALE
117,Adelie,Torgersen,37.3,20.5,199.0,3775.0,MALE
118,Adelie,Torgersen,35.7,17.0,189.0,3350.0,FEMALE
119,Adelie,Torgersen,41.1,18.6,189.0,3325.0,MALE
120,Adelie,Torgersen,36.2,17.2,187.0,3150.0,FEMALE
121,Adelie,Torgersen,37.7,19.8,198.0,3500.0,MALE
122,Adelie,Torgersen,40.2,17.0,176.0,3450.0,FEMALE
123,Adelie,Torgersen,41.4,18.5,202.0,3875.0,MALE
124,Adelie,Torgersen,35.2,15.9,186.0,3050.0,FEMALE
125,Adelie,Torgersen,40.6,19.0,199.0,4000.0,MALE
126,Adelie,Torgersen,38.8,17.6,191.0,3275.0,FEMALE
127,Adelie,Torgersen,41.5,18.3,195.0,4300.0,MALE
128,Adelie,Torgersen,39.0,17.1,191.0,3050.0,FEMALE
129,Adelie,Torgersen,44.1,18.0,210.0,4000.0,MALE
130,Adelie,Torgersen,38.5,17.9,190.0,3325.0,FEMALE
131,Adelie,Torgersen,43.1,19.2,197.0,3500.0,MALE

In [19]:
penguins[ penguins['bill_length_mm'] < 34 ]

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
70,Adelie,Torgersen,33.5,19.0,190.0,3600.0,FEMALE
98,Adelie,Dream,33.1,16.1,178.0,2900.0,FEMALE
142,Adelie,Dream,32.1,15.5,188.0,3050.0,FEMALE

## Filter Data Frame more than One Condition

In [20]:
# filter more than one condition
and_penguins = penguins[ (penguins['island'] == 'Torgersen') & penguins['bill_length_mm'] < 35]
and_penguins

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE
...,...,...,...,...,...,...,...
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,FEMALE
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,MALE
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,FEMALE
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,MALE

In [21]:
or_penguins = penguins[ (penguins['island'] == 'Torgersen') | penguins['bill_length_mm'] < 35]
or_penguins

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE
...,...,...,...,...,...,...,...
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,FEMALE
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,MALE
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,FEMALE
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,MALE

## Query

In [22]:
# filter with .query()
penguins.query('island == "Torgersen"') # "island == 'Torgersen'"

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE
5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,MALE
6,Adelie,Torgersen,38.9,17.8,181.0,3625.0,FEMALE
7,Adelie,Torgersen,39.2,19.6,195.0,4675.0,MALE
8,Adelie,Torgersen,34.1,18.1,193.0,3475.0,NaN
9,Adelie,Torgersen,42.0,20.2,190.0,4250.0,NaN
10,Adelie,Torgersen,37.8,17.1,186.0,3300.0,NaN
11,Adelie,Torgersen,37.8,17.3,180.0,3700.0,NaN
12,Adelie,Torgersen,41.1,17.6,182.0,3200.0,FEMALE
13,Adelie,Torgersen,38.6,21.2,191.0,3800.0,MALE
14,Adelie,Torgersen,34.6,21.1,198.0,4400.0,MALE
15,Adelie,Torgersen,36.6,17.8,185.0,3700.0,FEMALE
16,Adelie,Torgersen,38.7,19.0,195.0,3450.0,FEMALE
17,Adelie,Torgersen,42.5,20.7,197.0,4500.0,MALE
18,Adelie,Torgersen,34.4,18.4,184.0,3325.0,FEMALE
19,Adelie,Torgersen,46.0,21.5,194.0,4200.0,MALE
68,Adelie,Torgersen,35.9,16.6,190.0,3050.0,FEMALE
69,Adelie,Torgersen,41.8,19.4,198.0,4450.0,MALE
70,Adelie,Torgersen,33.5,19.0,190.0,3600.0,FEMALE
71,Adelie,Torgersen,39.7,18.4,190.0,3900.0,MALE
72,Adelie,Torgersen,39.6,17.2,196.0,3550.0,FEMALE
73,Adelie,Torgersen,45.8,18.9,197.0,4150.0,MALE
74,Adelie,Torgersen,35.5,17.5,190.0,3700.0,FEMALE
75,Adelie,Torgersen,42.8,18.5,195.0,4250.0,MALE
76,Adelie,Torgersen,40.9,16.8,191.0,3700.0,FEMALE
77,Adelie,Torgersen,37.2,19.4,184.0,3900.0,MALE
78,Adelie,Torgersen,36.2,16.1,187.0,3550.0,FEMALE
79,Adelie,Torgersen,42.1,19.1,195.0,4000.0,MALE
80,Adelie,Torgersen,34.6,17.2,189.0,3200.0,FEMALE
81,Adelie,Torgersen,42.9,17.6,196.0,4700.0,MALE
82,Adelie,Torgersen,36.7,18.8,187.0,3800.0,FEMALE
83,Adelie,Torgersen,35.1,19.4,193.0,4200.0,MALE
116,Adelie,Torgersen,38.6,17.0,188.0,2900.0,FEMALE
117,Adelie,Torgersen,37.3,20.5,199.0,3775.0,MALE
118,Adelie,Torgersen,35.7,17.0,189.0,3350.0,FEMALE
119,Adelie,Torgersen,41.1,18.6,189.0,3325.0,MALE
120,Adelie,Torgersen,36.2,17.2,187.0,3150.0,FEMALE
121,Adelie,Torgersen,37.7,19.8,198.0,3500.0,MALE
122,Adelie,Torgersen,40.2,17.0,176.0,3450.0,FEMALE
123,Adelie,Torgersen,41.4,18.5,202.0,3875.0,MALE
124,Adelie,Torgersen,35.2,15.9,186.0,3050.0,FEMALE
125,Adelie,Torgersen,40.6,19.0,199.0,4000.0,MALE
126,Adelie,Torgersen,38.8,17.6,191.0,3275.0,FEMALE
127,Adelie,Torgersen,41.5,18.3,195.0,4300.0,MALE
128,Adelie,Torgersen,39.0,17.1,191.0,3050.0,FEMALE
129,Adelie,Torgersen,44.1,18.0,210.0,4000.0,MALE
130,Adelie,Torgersen,38.5,17.9,190.0,3325.0,FEMALE
131,Adelie,Torgersen,43.1,19.2,197.0,3500.0,MALE

In [108]:
penguins.query('island == "Torgersen" & bill_length_mm < 35')

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
8,Adelie,Torgersen,34.1,18.1,193.0,3475.0,NaN
14,Adelie,Torgersen,34.6,21.1,198.0,4400.0,MALE
18,Adelie,Torgersen,34.4,18.4,184.0,3325.0,FEMALE
70,Adelie,Torgersen,33.5,19.0,190.0,3600.0,FEMALE
80,Adelie,Torgersen,34.6,17.2,189.0,3200.0,FEMALE

## Missing Values

In [109]:
# check missing values in each column
penguins.isna()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False
3,False,False,True,True,True,True,True
4,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...
339,False,False,True,True,True,True,True
340,False,False,False,False,False,False,False
341,False,False,False,False,False,False,False
342,False,False,False,False,False,False,False
343,False,False,False,False,False,False,False

In [110]:
penguins.isna().sum()

In [111]:
# filter missing values in column sex
penguins[ penguins['sex'].isna() ]

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
8,Adelie,Torgersen,34.1,18.1,193.0,3475.0,NaN
9,Adelie,Torgersen,42.0,20.2,190.0,4250.0,NaN
10,Adelie,Torgersen,37.8,17.1,186.0,3300.0,NaN
11,Adelie,Torgersen,37.8,17.3,180.0,3700.0,NaN
47,Adelie,Dream,37.5,18.9,179.0,2975.0,NaN
246,Gentoo,Biscoe,44.5,14.3,216.0,4100.0,NaN
286,Gentoo,Biscoe,46.2,14.4,214.0,4650.0,NaN
324,Gentoo,Biscoe,47.3,13.8,216.0,4725.0,NaN
336,Gentoo,Biscoe,44.5,15.7,217.0,4875.0,NaN
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN

In [28]:
# dropna()
clean_penguins = penguins.dropna()
clean_penguins.head(10)

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE
5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,MALE
6,Adelie,Torgersen,38.9,17.8,181.0,3625.0,FEMALE
7,Adelie,Torgersen,39.2,19.6,195.0,4675.0,MALE
12,Adelie,Torgersen,41.1,17.6,182.0,3200.0,FEMALE
13,Adelie,Torgersen,38.6,21.2,191.0,3800.0,MALE
14,Adelie,Torgersen,34.6,21.1,198.0,4400.0,MALE

## Fill missing values

In [29]:
## Mean Imputation
# fill missing values
top5_penguins = penguins.head(5)
top5_penguins

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE

In [30]:
avg_value = top5_penguins['bill_length_mm'].mean()
avg_value

38.9

In [31]:
top5_penguins = top5_penguins['bill_length_mm'].fillna(value = avg_value)
top5_penguins

## Sort Data Frame

In [116]:
# sort bill_length_mm low to high, high to low
penguins.sort_values('bill_length_mm')

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
142,Adelie,Dream,32.1,15.5,188.0,3050.0,FEMALE
98,Adelie,Dream,33.1,16.1,178.0,2900.0,FEMALE
70,Adelie,Torgersen,33.5,19.0,190.0,3600.0,FEMALE
92,Adelie,Dream,34.0,17.1,185.0,3400.0,FEMALE
8,Adelie,Torgersen,34.1,18.1,193.0,3475.0,NaN
...,...,...,...,...,...,...,...
321,Gentoo,Biscoe,55.9,17.0,228.0,5600.0,MALE
169,Chinstrap,Dream,58.0,17.8,181.0,3700.0,FEMALE
253,Gentoo,Biscoe,59.6,17.0,230.0,6050.0,MALE
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN

In [117]:
penguins.dropna().sort_values('bill_length_mm', ascending = False).head(10)

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
253,Gentoo,Biscoe,59.6,17.0,230.0,6050.0,MALE
169,Chinstrap,Dream,58.0,17.8,181.0,3700.0,FEMALE
321,Gentoo,Biscoe,55.9,17.0,228.0,5600.0,MALE
215,Chinstrap,Dream,55.8,19.8,207.0,4000.0,MALE
335,Gentoo,Biscoe,55.1,16.0,230.0,5850.0,MALE
283,Gentoo,Biscoe,54.3,15.7,231.0,5650.0,MALE
183,Chinstrap,Dream,54.2,20.8,201.0,4300.0,MALE
191,Chinstrap,Dream,53.5,19.9,205.0,4500.0,MALE
327,Gentoo,Biscoe,53.4,15.8,219.0,5500.0,MALE
181,Chinstrap,Dream,52.8,20.0,205.0,4550.0,MALE

In [118]:
# sort multiple columns
penguins.dropna().sort_values(['island', 'bill_length_mm'])

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
54,Adelie,Biscoe,34.5,18.1,187.0,2900.0,FEMALE
52,Adelie,Biscoe,35.0,17.9,190.0,3450.0,FEMALE
100,Adelie,Biscoe,35.0,17.9,192.0,3725.0,FEMALE
25,Adelie,Biscoe,35.3,18.9,187.0,3800.0,FEMALE
66,Adelie,Biscoe,35.5,16.2,195.0,3350.0,FEMALE
...,...,...,...,...,...,...,...
81,Adelie,Torgersen,42.9,17.6,196.0,4700.0,MALE
131,Adelie,Torgersen,43.1,19.2,197.0,3500.0,MALE
129,Adelie,Torgersen,44.1,18.0,210.0,4000.0,MALE
73,Adelie,Torgersen,45.8,18.9,197.0,4150.0,MALE
19,Adelie,Torgersen,46.0,21.5,194.0,4200.0,MALE

## Unique and Count

In [32]:
# unique value
penguins['species'].unique()

In [33]:
# count values
penguins['species'].value_counts()

In [36]:
# count more than one column
penguins[ ['island', 'species'] ].value_counts().reset_index()

,island,species,0
0,Biscoe,Gentoo,124
1,Dream,Chinstrap,68
2,Dream,Adelie,56
3,Torgersen,Adelie,52
4,Biscoe,Adelie,44

In [37]:
result = penguins[ ['island', 'species'] ].value_counts().reset_index()

result.columns = ['island', 'species', 'count']

result

,island,species,count
0,Biscoe,Gentoo,124
1,Dream,Chinstrap,68
2,Dream,Adelie,56
3,Torgersen,Adelie,52
4,Biscoe,Adelie,44